/* basic */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
         /* здесь взяли шрифты с google fonts  */
    font-family: 'Inter', sans-serif;
}

/* header */

.container{
    max-width: 1170px;
    margin: 0 auto;
    /* border: 1px solid #9999A3; */
}

.header-wrapper{
   padding-top: 50px;
    padding-bottom: 50px;
    display: flex; 
    margin: 0 auto;
}

.header-contacts{
  display: flex;
  flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.header_social{
    display: flex;
    list-style-type: none;
}


.social_icon_vk, .social_icon_telegram, .social_icon_whatsUp{
    width: 32px;
    height: 23px;  
}

.main-h{
    padding-left: 190px;
}

.info-box{
    margin-top: 50px;
    display: flex; 
    background: rgba(221, 221, 221, 0.8);
    border-radius: 24px;
}

.info-list > li{
    padding: 8px;
    margin-left: 50px;
    padding-right: 50px;
     list-style-type: none;
     color: #9999A3;
}
.right > li{
   color: black;
}

/* main */

.main__tex {
    padding: 15px 315px;
    color: #9999A3;
}

.main-wrapper{
   padding-top: 30px;
    padding-left: 70px;
}
.main-box{
    padding-left: 250px;
     display: flex;
     justify-content: space-between;
  margin-bottom: 35px;
}

.main__about {
    padding-top: 20px;
}

.main__black {
    color: black;
}

.main-text {
    background-color: #A9A9FD;
    color: #fff;
    border-radius: 7px;
    padding: 5px;
}

.more {
    background-color: #F1A9FD;
    color: #fff;
    border-radius: 7px;
    padding: 5px;
}

/* ==== */

.main-content{
    max-width: 64%;
}
.main-list:nth-child(1n) {
     color: #9999A3;
}

/* нужно добавить стили для контента */
/* и стилизовать остальные секции */

.main__text {
    color: #BCBCC2;
    margin-bottom: 30px;
}

.main__txt {
    padding-top: 10px;
}

.skills, .language, .about {
    margin-left: 234px;
    padding-top: 24px;

}

span {
    padding: 12px;
    border-radius: 12px;
    background-color: #F5F5FA;
}







